<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.still.rms.auth.dao.AuthUserRoleCustomMapper">

    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete from auth_user_role
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByRoleId">
        delete from auth_user_role
        where role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <insert id="insertList">
        INSERT INTO auth_user_role (user_id, role_id) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.userId,jdbcType=BIGINT},
            #{item.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="getUserCount" resultType="java.util.Map">
        SELECT role_id roleId ,count(1) userCount
        FROM `auth_user_role`
        GROUP BY role_id
    </select>
</mapper>